$text-light: #597865;

body,html {
    margin: 0;
    color: $text-light;
}

#header{
    color: $text-light
}

.nav-link {
    text-decoration: none;
    color: $text-light;
}

.charmander {
    max-width: auto;
    max-height: auto;
    background-color: $text-light;
}